{
  "singleQuote": true,
  "printWidth": 140,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
