#__layout {
  @include media-breakpoint-down(md) {
    .header {
      padding: 2em 0 0 0;

      .name-wrapper {
        margin-bottom: 0em;
      }

      .profile-img {
        margin-bottom: 5em;
        height: 420px;

        img {
          position: absolute;
          object-position: top;
          object-fit: cover;
          max-height: 460px;
          width: 100%;
          top: 5px;
          left: 0;
        }

      }

      .section-wrapper.grid-personal {
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }
  }

}

.tippy-tooltip.dark-theme {
  background-color: #dc3545 !important;
}
.tippy-roundarrow {
  fill: #dc3545 !important;
}
