---
import { getTranslate } from '../i18n/utils'
const t = getTranslate(Astro.url)

interface Props {
  resume: any
}

const { resume } = Astro.props
---
<section class="section-wrapper section-education">
  <div class="row">
    <div class="col-lg-9 col-md-11">
      <div class="section-title">
        <h2>{t('education')}</h2>
      </div>
    </div>
    <div class="col-lg-27 col-md-25 col-sm-36">
      <div class="row">
        {resume.education.map(e => (
        <div class="col-md-18 col-sm-18">
          <div class="content-item">
            <small>{e.range}</small>
            <h3>{e.major}</h3>
            <h4>{e.location}</h3>
            <p>{e.branch}</h3>
          </div>
        </div>
        ))}
      </div>
    </div>
  </div>
</section>
