---
import { Image } from 'astro:assets';
import { version } from '../../package.json';
import webring from '../assets/webring.svg'
const getYear = (new Date()).getFullYear()
---

<footer class="container d-print-none">
  <div class="footer copyright-section">
    <div class="row">
      <div class="col-36">
        <div class="copytext">
          &copy; {getYear} <b>TOUNO.io</b> sponsor by
          <a href="https://sponsor.touno.io/" target="_blank">Kananek T.</a> and
          <a href="https://webring.wonderful.software#mr.touno.io">
            webring <Image alt="webring" src={webring} width={14} height={14} style="margin-top: -.2em">
          </a> v{version}
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
.footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 3em;

  &.copyright-section {
    font-size: .8rem;

    .copytext {
      font-weight: 400;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-end;
      align-items: flex-end;
      column-gap: 0.3em;
    }
  }
}
</style>
