---
import SectionProject from './SectionProject.astro'
import SectionContact from './SectionContact.astro'
import SectionCoding from './SectionCoding.astro'
import SectionDaytime from './SectionCodingDaytime.astro'
import SectionHistory from './SectionCodingHistory.astro'
import SectionSkill from './SectionSkill.astro'
import SectionEducation from './SectionEducation.astro'

interface Props {
  resume: any
  experience: any
}

const { resume, experience } = Astro.props
---

<div class="container">
  <SectionProject experience={experience} />
  <SectionContact experience={experience} />
  <SectionCoding />
  <SectionDaytime />
  <SectionHistory />
  <SectionSkill experience={experience} />
  <SectionEducation resume={resume} />
</div>
