---
import { getTranslate } from '../i18n/utils'
const t = getTranslate(Astro.url)

import { Image } from 'astro:assets';
import { version } from '../../package.json';
import webring from '../assets/webring.svg'
const getYear = (new Date()).getFullYear()
---

<footer class="w-full max-w-screen-xl mx-auto px-4 print:hidden">
  <div class="pt-12 font-['Segoe_UI',_Tahoma,_Geneva,_Verdana,_sans-serif] text-sm">
    <div class="w-full">
      <div class="w-full">
        <div class="flex flex-row flex-nowrap items-end justify-end font-normal gap-[0.3em]">
          &copy; {getYear} <b>dvgamerr</b> {t('footer.sponser')}
          <a href="https://sponsor.dvgamerr.app/" target="_blank">Kananek T.</a> {t('footer.and')}
          <a href="https://webring.wonderful.software#dvgamerr.app" class="flex items-center">
            webring <Image alt="webring" src={webring} width={14} height={14} class="inline-block ml-1">
          </a> v{version}
        </div>
      </div>
    </div>
  </div>
</footer>
